* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.df {
    display: flex;
    align-items: center;
}

.header {
    background-image: url("../img/Hero-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 50px;
}

.header>.container {
    justify-content: space-between;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.h-logo {}

.nav {}

.ul {
    gap: 50px;
}

.li {}

.a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #fff;
}

.a:hover {
    color: #FF4B32;
}

.h-left {
    gap: 40px;
}

.btn {
    border: 1px solid #FFFFFF;
    background: none;
    padding: 14px;
    border-radius: 50%;
}

.btn:nth-child(2) {
    padding: 0;
    border: none;
}

.s-hero {
    padding: 110px 0;
}

.container {}

.hero-wrap {
    max-width: 470px;
    width: 100%;
}

.hero-wrap>h1 {
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 26px;
}

.hero-wrap>p {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 48px;
}

.hero-wrap>button {
    padding: 16px 35px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    background-color: #FF4B32;
    border: none;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 850px) {
    .container {
        padding: 0 20px;
    }

    .nav {
        display: none;
    }
}

.main {}

.s-selling {
    padding: 140px 0;
}

.s-selling>.container {}

.container {}

.banner-scrolling {
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;
}

.banner-scrolling>div:nth-child(1) {
    max-width: 500px;
    width: 100%;
}

.banner-scrolling>div>h2 {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: #000;
}

.banner-scrolling>div>p {
    max-width: 450px;
    width: 100%;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #000;
}

.scrol {
    gap: 20px;
}

.cards {
    align-items: end;
    justify-content: space-between;
}

.card {}

.card>img {
    margin-bottom: 35px;
}

.card>span {
    display: block;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #0C0D0C;
    margin-bottom: 10px;
}

.card>h3 {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #000;
    margin-bottom: 15px;
}

.card>p {
    max-width: 250px;
    width: 100%;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #000;
    margin-bottom: 30px;
}

.plus {
    gap: 20px;
}

.plus>button {
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 15px 30px;
    color: #fff;
    background-color: #FF4B32;
    border: none;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 110px;
    height: 60px;
}

tr {
    overflow: hidden;
}

td {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
}

.number {
    width: 50%;
}

.buttons {
    width: 50%;
}

.buttons button {
    width: 100%;
    height: 50%;
    cursor: pointer;
    border: none;
    background: none;
}

.s-gallery {
    padding-bottom: 140px;
}

.s-gallery>.container {
    flex-direction: column;
}

.container {}

.s-gallery>.container>h2 {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.s-gallery>.container>p {
    max-width: 500px;
    width: 100%;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}

.s-gallery>.container>button {
    padding: 15px 170px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FF4B32;
    background-color: transparent;
    border: 2px solid #0D0402;
    border-left: none;
    border-right: none;
}

.wrap {
    margin-bottom: 0px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}

.s-contact {
    padding: 100px 0;
    background: #0D0402 url("../img/cofeee.png") no-repeat;
    color: #fff;
}

.s-contact>.container {
    flex-direction: column;
}

.s-contact>.container>span {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FF4B32;
    padding-bottom: 25px;
    margin-bottom: 40px;
    border-bottom: 2px solid #FF4B32;
}

.s-contact>.container>h2 {
    max-width: 620px;
    width: 100%;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.s-contact>.container>a:nth-child(4) {
    margin-bottom: 30px;
}

.s-contact>.container>a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    gap: 15px;
}

.s-contact>.container>div {
    gap: 40px;
}

.s-news {
    padding: 140px 0;
}

.s-news>.container {
    flex-direction: column;
}

.s-news>.container>h2 {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.s-news>.container>p {
    max-width: 610px;
    width: 100%;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}

.container {}

.df {}

.news-wrap {
    gap: 30px;
}

.news-wrap>div {
    max-width: 362px;
    width: 100%;
}

.news-wrap>div>div {
    padding: 30px;
}

.news-wrap>div {
    border-radius: 20px;
    box-shadow: 40px 15px 136px 0px #00000033;
}

.news-wrap>div>div>h3 {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #000;
    margin-bottom: 10px;
}

.news-wrap>div>div>p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: #000;
}

.news-wrap>div>div>a {
    gap: 10px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #FF4B32;
}

.footer {
    background-color: #0D0402;
    padding: 80px 0 0 0;
}

.footer>.container {
    align-items: start;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;
    gap: 80px;
}


.footer>.container>div:nth-child(1)>a:nth-child(1) {
    margin-bottom: 30px;
}

.footer>.container>div:nth-child(2, 3)>h3 {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

}

.footer>.container>div {
    align-items: start;
    flex-direction: column;
    color: #fff;
}

.footer>.container>div:nth-child(1)>p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

.footer>.container>div:nth-child(4)>div {
    margin-top: 45px;
    gap: 30px;
}

.footer>.container>div:nth-child(4)>div>a>img {
    width: 38px;
    height: 38px;
}

.footer>.container>div:nth-child(1)>a:nth-child(3) {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    gap: 10px;
}

.copy {
    padding: 25px 0 50px 0;
}

.container {}

.copy>.container>p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
}

.bottom {
    position: relative;
    bottom: 100px;
}

@media (max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
        gap: 50px;
    }

    .wrap,
    .gallery>div {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .news-wrap {
        flex-direction: column;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }
    .bottom {
        bottom: 0;
    }
    .gallery>div:nth-child(6) {
        margin-bottom: 60px;
    }
    .footer > .container {
        flex-wrap: wrap;
    }
}